.container {
  display: grid;
  align-items: center;
  margin: 2%;
  justify-content: space-around;
  justify-items: center;
}
@media (max-width: 600px) {
  .container {
    width: 95vw;
  }
}

.box-title {
  display: grid;
  align-items: center;
  margin: 2%;
}

.title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 28px;
  padding: 2;
  text-align: center;
}

.title-double {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 32px;
  padding: 2;
  text-align: center;
  color: #ff8800;
}

.video-player {
  /* background-color: black; */
  border-radius: 12px;
  padding: 20px;
  height: 323px;
  width: 82%;
  margin: 2%;
}

@media (min-width: 600px) {
  .video-player {
    height: 45vh;
    width: 45vw;
  }
}

.box-btn {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn {
  font-weight: 500;
  font-size: 19px;
  color: #fff;
  background-color: #ff8800;
  padding: 10px 10px;
  border: 2px solid #ff8800;
  border-radius: 20px;
  cursor: pointer;
  margin: 2%;
}

.btn:hover {
  transition: 1000ms;
  transform: translateY(-0px);
  background-color: #fff;
  color: #ff8800;
  border: solid 2px #ff8800;
}

.text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 2;
  text-align: center;
  margin-left: 6%;
  margin-right: 7%;
}
@media (min-width: 600px) {
  .text {
    width: 45vw;
  }
}
